.review-section{
    position: relative;
    width: 230px;
    height: 290px;
    top: 19%;
    transition: transform 0.3s ease;
    /* background-color: rgb(210, 210, 210); */
    border: 2px solid black;
}

.review-section h4{
    margin-left: 20px;
}
.review-section ul{
    margin-left: -20px;


    list-style: none;
}


.leaderboard{
    width: 500px;
    height: 300px;
}

.leaderboard h2, h3, h4{
    text-decoration: underline;
}


/** ------------ ranking ------------ */


.ranking td{
    /* border: 1px solid black; */
    font-size: 13px;
    text-align: center;
}

td:nth-child(1).ranking{
    width: 10%;
}

td:nth-child(2).ranking{
    width: 50%;
}

table.ranking{
    border-collapse: collapse;
}

.pos{
    font-weight: bold;
}

.ranking table {
    position: relative;
    margin-left: 5%;
    left: 20%;
    width: 100%;
    height: 100%;
}
