.review-section{
    position: relative;
    width: 230px;
    height: 290px;
    top: 19%;
    transition: transform 0.3s ease;
    /* background-color: rgb(210, 210, 210); */
    border: 2px solid black;
}

.review-section h4{
    margin-left: 20px;
}
.review-section ul{
    margin-left: -20px;


    list-style: none;
}


.leaderboard{
    width: 500px;
    height: 300px;
}

.leaderboard h2, h3, h4{
    text-decoration: underline;
}


/** ------------ ranking ------------ */

.ranking-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: -2%;
}

.ranking td{
    font-size: 15px;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding-left: 15px;
}

td:nth-child(1).ranking{
    width: 10%;
}

td:nth-child(2).ranking{
    width: 50%;
}

table.ranking{
    border-collapse: collapse;
}

.pos{
    font-weight: bold;
}

.ranking table {
    width: 100%;
    height: 100%;
}