
/** --------------------- SECTIONS --------------------- */

.title-section{
    position: absolute;

    margin: 0;
    padding: 0;

    width: 350px;
    height: 100px;
}

.title-section h2, p{
    margin: auto;
    padding: auto;
}

.title-section p{
    color: rgb(69, 69, 69);
}


.input-container {
    background-color: rgb(210, 210, 210);
    padding: 50px 50px;
    border: 2px solid black;
    box-shadow: 6px 6px 1px #00c2d7; /*? ??*/
}

input {
    /* display: block; */
    width: 100%;
    font-size: 14pt;
    line-height: 28pt;
    font-family: "Roboto Mono";
    margin-bottom: 28pt;
    border: none;
    border-bottom: 5px solid black;
    background: whitesmoke;
    min-width: 250px;
    outline: none;
    color: black;
}

input:hover{
    color: black;
}

input:focus {
    border-bottom: 5px solid #00c2d7;
}

.input-container button {
    display: block;
    margin: 0 auto;
    line-height: 28pt;
    padding: 0 20px;
    background: #00c2d7;
    letter-spacing: 3px;
    outline: none;
    border: 1px solid black;
}
.input-container button:hover {
    background: black;
    color: white;
}

.register-info{
    font-size: 11pt;
    /* line-height: 28pt; */
    margin-top: 5%;
    text-align: center;
    text-decoration: underline;
}

.login{
    margin-top: 20%;
    /* opacity: 1; */
}

.register{
    margin-top: 20%;   
    /* opacity: 0; */
    transform: translateY(500px);

}

.appear{
    opacity: 1;
    transform: translateY(0); 
}