body{
    font-family: 'Roboto Mono';

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
    overflow-x: hidden;
    overflow-y: hidden;
}

mark{
    background-color: #00c2d7;
    border-radius: 10%;
}

a{
    text-decoration: none;
}

button{
    background: none;
    font-family: 'Roboto Mono';
    border: none;
    font-weight: 100;
}

.container{
    width: 80%;
    height: 80%;
    padding: 10px;
}
html{
    background-color: rgb(226, 226, 226);
    color: black;
}

a{
    color: black;
}

button{
    color: black;
}


/** --------------------- ICONS --------------------- */
.icons{
    position: absolute;
}

#info{
    left: 90%;
    top: 85%
}

.icons:hover{
    color: grey;
    cursor: pointer;
}
#logout{
    left: 90%;
}
#back{
    left: 90%;
}
#leaderboard{
    left: 87%;
}
#store{
    left: 84%;
}
