.grid-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    width: 400px;
    height: 400px;
  }
  
  .wall {
    background-color: blue;
  }
  
  .food {
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto;
  }
  
  .empty {
    background-color: transparent;
  }
  