
body {
    background-color: rgb(0, 0, 26);
    color: whitesmoke;
    font-family: monospace;
    text-align: center;
    overflow-y: hidden;
}

/** ------ PLAYGROUND  ------ */
.playground{
    display: flex;
    position: relative;
    width: 510px;
    height: 510px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    outline: 3px solid whitesmoke;
}
.map{
    display: grid;
    position: relative;
    left: 0;
    top: 0;
    grid-template-columns: repeat(17, 30px);
    grid-template-rows: repeat(17, 30px);
    width: 510px;
    height: 510px;
}  
.cell {
    width: 30px;
    height: 30px;
}

.food {
    background-color: white;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: auto;
}

.bigFood {
    background-color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: auto;
}
/** ------ CHARACHTERS  ------ */
 
.movable{
    position: absolute;
    z-index: 5;
}

#pacman {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 1%;
}

.ghost {
    width: 20px;
    height: 20px;
    border-radius: 60px 60px 0 0;
    margin: 1%;
    transition: transform 0.3s ease;
}

.vulnerable{
    animation: vulnerable 0.5s infinite;
    animation-timing-function: step-start;
    /* background-color: blue; */
}
@keyframes vulnerable {
    0% {
      background-color: blue;
    }
    50% {
      background-color: white;
    }
    100% {
      background-color: blue;
    }
  }


/** ------ MENU  ------ */

.menu-container{
    position: absolute;     
    font-size: small;
    z-index: 5;
    
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 41, 41, 0.7); 
}

.menu{
    position: relative;
    top: 30%;
    margin: 0 auto;
    font-family: 'Roboto Mono';

    z-index: 5;
    
    height: 120px;
    width: 200px;
    background-color: rgb(210, 210, 210);
    border: 2px solid black;
}

.menu a{
    position: relative;
    top: 30px;
    font-size: small;

    color: black;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
}
.menu a:hover{
    background-color: #00c2d7;
    font-weight: bolder;
}

.hidden{
    visibility: hidden;
}

.appear{
    visibility: visible;
}

.blink{
    animation: blink 1s steps(1, end) infinite;
}

.lose{
    color: rgb(255, 64, 0);;
}
.win{
    color: #00c2d7;
}
.end-message{
    position: relative;
    margin-top: 10%;
    z-index: 10;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


/** ------ INFO  ------ */

#gameinfo{
    position: fixed;
    top: 20%;
    left: 7%;

    z-index: 5;
    color: rgb(210, 210, 210);
    background-color: rgb(0, 0, 16);
    font-size: 15px;
    text-align: left;
    width: 220px;
    height: 270px;
    padding-left: 2%;
    border: 2px solid rgb(210, 210, 210);

}

.game-stats{
    position: fixed;
    top: 25%;
    left: 10%;

    z-index: 5;
    color: rgb(210, 210, 210);
    font-size: 15px;
    text-align: left;
    width: 300px;
    height: 200px;
    padding-top: 50px;
    border: 2px solid rgb(210, 210, 210);
}

.game-stats li{
    list-style: none;
}

.coins{
    padding-top: 10%;
    color: rgb(0, 181, 87);
}
