body{
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(15, 30px);
    width: 450px;
    height: 450px;
    background-color: green;

}
  
.wall {
    background-color: blue;
}

.food {
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto;
}
  
.empty {
    background-color: transparent;
}
  