
body {
    background-color: rgb(0, 0, 26);
    /* background-color: rgb(226, 226, 226); */

    color: whitesmoke;
    font-family: monospace;
    text-align: center;
    overflow-y: hidden;
}

/** ------ PLAYGROUND  ------ */
.playground{
    display: flex;
    position: relative;
    width: 510px;
    height: 510px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    outline: 3px solid whitesmoke;
}
.map{
    display: grid;
    position: relative;
    left: 0;
    top: 0;
    grid-template-columns: repeat(17, 30px);
    grid-template-rows: repeat(17, 30px);
    width: 510px;
    height: 510px;
    background-color: black;
}  
.cell {
    width: 30px;
    height: 30px;
}
.wall{
    background-color: rgb(0, 0, 105);
}
.tunnel{
    background-color: gray;
}
.spawn{
    background-color: rgb(0, 0, 67);
}

.food {
    background-color: white;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: auto;
}

.bigFood {
    background-color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: auto;
}
/** ------ CHARACHTERS  ------ */
 
.movable{
    position: absolute;
    z-index: 5;
    /* left: 0;
    top: 0; */
}

#pacman {
    /* position: relative; */
    height: 20px;
    width: 20px;
    background-color: rgb(255, 200, 0);
    border-radius: 50%;
    margin: 1%;
}

.ghost {
    width: 20px;
    height: 20px;
    border-radius: 60px 60px 0 0;
    margin: 1%;
    transition: transform 0.3s ease;
}

.vulnerable{
    animation: vulnerable 0.5s infinite;
    animation-timing-function: step-start;
    /* background-color: blue; */
}
@keyframes vulnerable {
    0% {
      background-color: blue;
    }
    50% {
      background-color: white;
    }
    100% {
      background-color: blue;
    }
  }

.blue-ghost{
    background-color: blue;
}
.red-ghost{
    background-color: red;
}
.orange-ghost{
    background-color: orange;
}
.pink-ghost{
    background-color: pink;
}

/** ------ PAUSE-MENU  ------ */


#pause-menu-container{
    position: absolute;     
    visibility: hidden;     
    font-size: small;
    z-index: 5;

    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 41, 41, 0.7); 
}

.pause-menu{
    position: relative;
    top: 30%;
    margin: 0 auto;
    font-family: 'Roboto Mono';

    z-index: 5;
    
    height: 120px;
    width: 200px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(108, 108, 108);
    /* padding: 0.5%; */
}

.pause-menu h4{
    background-color: yellow;
}

.pause-menu a{
    /* margin: 0 auto; */
    position: relative;
    top: 15px;
    font-size: small;

    color: black;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
}
.pause-menu a:hover{
    background-color: rgb(255, 200, 0);
    font-weight: bolder;
}

.blink{
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


/** ------ INFO  ------ */

#gameinfo{
    position: absolute;
    text-align: right;
    left: -100px;
    top: 130px;
}

.game-stats{
    position: fixed;
    top: 20%;
    left: 10%;

    color: black;
    font-size: 15px;
    text-align: left;
    width: 300px;
    height: 200px;
    background-color: rgb(210, 210, 210);
    /* padding: 50px 50px; */
    border: 2px solid black;
    box-shadow: 6px 6px 1px #00c2d7; /*? ??*/
}

.game-stats li{
    list-style: none;
}

.end-game-menu{
    position: fixed;
    top: 20%;
    left: 50%;

    color: black;
    font-size: 15px;
    text-align: left;
    width: 300px;
    height: 200px;
    background-color: rgb(210, 210, 210);
    /* padding: 50px 50px; */
    border: 2px solid black;
    box-shadow: 6px 6px 1px #00c2d7; /*? ??*/

/* 
    display: none;
    font-size: 15px;
    width: 300px;
    height: 200px;
    margin-left: 40%; */
}