.review-section{
    position: relative;
    width: 230px;
    height: 290px;
    top: 19%;
    transition: transform 0.3s ease;
    /* background-color: rgb(210, 210, 210); */
    border: 2px solid black;
}

.review-section h4{
    margin-left: 20px;
}
.review-section ul{
    margin-left: -20px;


    list-style: none;
}


.leaderboard{
    width: 500px;
    height: 300px;
}

.leaderboard h2, h3, h4{
    text-decoration: underline;
}
