.title-section{
    width: 500px;
}

.review-section{
    position: relative;
    width: 260px;
    height: 290px;
    top: 19%;
    transition: transform 0.3s ease;
    /* background-color: rgb(210, 210, 210); */
    border: 2px solid black;
}

.review-section h4{
    margin-left: 20px;
}
.review-section ul{
    margin-left: -20px;


    list-style: none;
}

hr {
    border: none;
    border-top: 1px solid #5f5f5f;
    margin: 5px 0;
    height: 1px;
    width: 90%;
    background-color: transparent;
}


.store{
    width: 500px;
    height: 300px;
}

.store h2, h3, h4{
    text-decoration: underline;
}


/** ------------ SKINS ------------ */

ul{
    list-style: square;
}

.palette-container{
    /* display: inline-block; */
    float: right;
    /* margin-right: 5px; */
    width: 300px;
    height: 20px;
}

.palette-square{
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(47, 47, 47);
}
.pacman{
    border-radius: 50%;
}

.ghost{
    border-radius: 60px 60px 0 0;
}

.classic{
    background-color: rgb(255, 200, 0);
}
.red{
    background-color: rgb(203, 0, 0);
}
.green{
    background-color: rgb(0, 255,  0);
}
.fucsia{
    background-color: rgb(255, 0,  239);
}
.white{
    background-color: rgb(255, 255, 255);
}



/* prices */
.price{
    display: inline-block;
    margin-left: 50px;
    /* width: 200px; */
    padding-left: 2px;
    padding-right: 2px;
    height: 20px;

}

.select{
    display: inline-block;
    margin-left: 50px;
    width: 10px;
    height: 10px;
    background-color: rgb(190, 190, 190);
    border: 1px solid rgb(47, 47, 47);

    cursor: pointer;
}

.locked{
    display: inline-block;
    margin-left: 50px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 11, 11);
    border: 1px solid rgb(47, 47, 47);
}