body{
    font-family: 'Roboto Mono';

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
    overflow-x: hidden;
    overflow-y: hidden;
}

mark{
    background-color: #00c2d7;
    border-radius: 10%;
}

a{
    text-decoration: none;
}

button{
    background: none;
    font-family: 'Roboto Mono';
    border: none;
    font-weight: 100;
}

.container{
    position: flex;
    width: 80%;
    height: 80%;
    padding: 10px;
}

/** --------------------- ICONS --------------------- */
.icons{
    position: absolute;
}

#darkmode{
    left: 90%;
    top: 85%
}



/** --------------------- FOOTER --------------------- */

.retro-footer {
    display: flex;
    position: absolute;
    color: rgb(173, 173, 173);
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
    letter-spacing: 2px;
    top: 88%;
    left: 13%;
}


.retro-footer a {
    color: rgb(173, 173, 173);
    text-decoration: none;
}

.retro-footer a:hover {
    /* color: rgb(0, 195, 255); */
    color: white;
}

