body{
    font-family: 'Roboto Mono';

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
    overflow-x: hidden;
    overflow-y: hidden;
}

mark{
    background-color: #00c2d7;
    border-radius: 10%;
}

a{
    text-decoration: none;
}

button{
    background: none;
    font-family: 'Roboto Mono';
    border: none;
    font-weight: 100;
}

.container{
    position: flex;
    width: 80%;
    height: 80%;
    padding: 10px;
}

/** --------------------- ICONS --------------------- */
.icons{
    position: absolute;
}

#darkmode{
    left: 90%;
    top: 85%
}

