body{
    font-family: 'Roboto Mono';

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#center-ghost img{
    /* position: absolute;
    margin-left: 0 auto; */
    width: 200px;
    top: 20%;
}


.centered {
    display: flex;
    text-align: center;
    justify-content: 400px;
    align-items: center;
    height: 500px;

    width: 500px;
    height: 250px;
/*     left: 50%; */
    top: 20%;
    margin-top: 100px;
    margin-left: 25%;
/*     margin: auto; */
}

.centered h2{
    display: flex;
    text-align: center;
/*     padding: 20px; */
    font-size: xx-large;
}


.div-centered {
    position: relative;
    /* display: absolute; */
    /* margin-left: auto;
    margin-right: auto; */
    /* top: 20%; */
}   

#ghost{
    width: 200px;
}


a{
    text-decoration: none;
}

button{
    background: none;
    font-family: 'Roboto Mono';
    border: none;
    font-weight: 100;
}


.container{
    width: 90%;
    height: 80%;
    padding: 20px;
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: blue; */
}