
body{
    background-color: black;
    color: whitesmoke;
}

.player{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(125, 125, 125);
    position: absolute;
    right: 5%;
    top: 10%;
}

header{
    width: auto;
    height: auto;
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 200, 0);

    position: relative;
    top: auto;
    margin-top: 20%;
    left: auto;
    right: auto;
}


.menu a, button{
    color: whitesmoke;
    font-style: normal;
    font-family: monospace;
    font-size: smaller;
    text-align: center;
    text-decoration: none;
}

.menu button{
    background-color: black;
    border: none;
}

#rule{
    display: none;
    
}

.menu button:hover, a:hover{
    color: rgb(255, 200, 0);
}


.menu p{
    color: whitesmoke;
    background-color: rgb(38, 38, 38);
    font-size: small;
    padding: 3%;
    text-align: center;
}


address{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-small;
}



/*HOW TO CSS*/

.info{
  color: rgb(99, 99, 99);;
}

.info section{
  font-family: monospace;
  padding-top: 4rem;
  width: 50%;
  margin: auto;
}
.info h1 {
  font-size: 2rem;
  font-weight: 500;
}


.info details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.info details summary::-webkit-details-marker {
  display: none;
}

.info details summary {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid white;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
}

.info details summary:after {
  content: "+";
  color: whitesmoke;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}
.info details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
.info details summary {
  outline: 0;
}
.info details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.info details summary :hover{
  color: whitesmoke;
}

.info details:hover{
  color: whitesmoke;
}